.popup__input-error {
    color: #FF0000;
    opacity: 0;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    font-style: normal;
    font-weight: normal;
    z-index: 2;
}