.elements {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 17px;
}

@media screen and (max-width: 900px) {
    .elements {
        grid-template-columns: repeat(2, auto);
        max-width: 720px;
    }
}

@media screen and (max-width: 720px) {
    .elements {
        grid-template-columns: repeat(1, auto);
        max-width: 382px;
    }
}

@media screen and (max-width: 320px) {
    .elements {
        width: 282px;
    }
}