.popup__reg-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
}

@media screen and (max-width: 320px) {
    .popup__reg-modal {
        width: 280px;
    }
}