.element__like-button_active {
    background: url(../../../../images/bleack.svg);
    background-repeat: no-repeat;
    color: #000000;
    width: 22px;
    border: none;
    padding: 0;
    background-position: center;
    cursor: pointer;
    margin-right: 4px;
}