.header__user-email {
    color: white;
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin-right: 24px;
}

@media screen and (max-width: 550px) {
    .header__user-email {
        font-size: 14px;
        margin-right: 6px;
    }
}

@media screen and (max-width: 320px) {
    .header__user-email {
        overflow: hidden;
        max-width: 90px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}